* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: black;
    color: white;
    padding: 15px;
}



input[type="text"],input[type="number"], select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

main {
    width: 80%;
    margin: 20px auto;

}

form {
    margin: 20px 0;
}

input[type="submit"]{
background-color: green;
padding: 8px 12px;
margin-top: 20px;
color: white;
font-weight: bold;
text-transform: uppercase;
border: none;
border-radius: 4px;
}




/* css da tabela */

th,td{
    border: 1px solid black;
    padding: 5px;
}

th{
    background-color: rgb(22, 59, 139);
    color: white;
    text-align: left;
    padding: 8px 5px;
}

table{
    width: 100%;
    border-collapse: collapse;

}

/* css da tabela */