*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


body{
    margin: 0;   
}

main{
    display: lex;
    justify-content: center;
}

header{
    background-color: black;
    width: 100vw;
    height: 13vh;
    color: white;
    display: flex;
    align-items: center;
}

h1{
    font-size: 3rem;
    margin-left: 2vw;
}

#container{
    padding: 40px;  
    display: flex;
    width: 100vw;
    justify-content: center;
}

label{
    margin-top: 100px;
}



form{
    display: flex;

}

#e{
    background-color: aqua;
}

.imput{
width: 25vw;
margin-right: 50px;
height: 20vh;
}

.borda{
    border: solid 1px black;
}

.campo{
width: 100%;
padding: 10px;
border-radius: 5px;
margin-bottom: 20px;
}

button{
    background-color: rgb(17, 124, 22);
    color: aliceblue;
    border: solid 1px rgb(6, 73, 10);
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(6, 73, 10);
}